<?xml version="1.0" encoding="UTF-8"?>
<!-- MyBatis 환경 설정 파일 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<package name="com.diary.mypet.domain" />
	</typeAliases>

</configuration>
